body {
  font-family: 'Shadows Into Light', cursive;
  background-color: #282C34;
  color: #E2C08D;
}

h1 {
  text-align: center;
  margin: 0px;
  font-size: 4em
  padding: 1.5em;
}

h6 {
  text-align: center;
  margin: 0px;
  font-size: 1.5em;
}

p {
  padding: 1em;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #B63838;
}

.main-nav tab {
  background-color: inherit;
}
