
.nav ul {
	display: inline-block;
	list-style: none;
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 501px) and (max-width: 639px) {
	h1 {
		font-size: 2em;
	}
}

@media only screen and (min-width: 640px) {
	.icon-menu {
    display: none;

  }

  .main-nav {
    padding: .2em .2em .2em 2em;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
    color: #29506D;
  }

	h1 {
		font-size: 3em;
	}
}

@media only screen and (min-width: 800px) {


	h1 {
		font-size: 4em;
	}
}
