@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1098yf');
  src:  url('fonts/icomoon.eot?1098yf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1098yf') format('truetype'),
    url('fonts/icomoon.woff?1098yf') format('woff'),
    url('fonts/icomoon.svg?1098yf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stats-bars:before {
  content: "\e99c";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-github:before {
  content: "\eab0";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-stackoverflow:before {
  content: "\ead0";
}

